<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.212" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.212" targetFramework="net472" />
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="Syncfusion.Data.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.SfDiagram.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.SfGrid.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="20.3.0.56" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>